body {
    font-family: Arial, sans-serif;
    background-color: #9494e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color:cadetblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 90%;
    overflow: hidden;
}

.quiz-header {
    padding: 2rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: black;
    color:white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color:blueviolet;
}

